# PORT
PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

POSTGRES_PORT=
# DATABASE
DATABASE_URL=

# TOKEN
SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
VERIFICATION_TOKEN_SECRET_KEY=
PASSWORD_RESET_TOKEN_SECRET_KEY=

SECRET_KEY_EXPIRATION=
REFRESH_TOKEN_SECRET_KEY_EXPIRATION=
VERIFICATION_TOKEN_SECRET_KEY_EXPIRATION=
PASSWORD_RESET_TOKEN_SECRET_KEY_EXPIRATION=

LLM_URL=
LLM_MODEL=

OPENAI_API_KEY=

EMAIL_SERVICE=
SENDER_EMAIL=
SENDER_EMAIL_PASSWORD=

# LOG
LOG_FORMAT=dev
LOG_DIR=../logs

# CORS
ORIGIN=
CREDENTIALS=

DOCKER_FILE_NAME=